* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color variables */

:root {
    --bright-txt-clr: #DADFE1;
    --dark-txt-clr: #aa5555;
}

html {
    font-size: 62,5%;

}

header {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 2rem;
}

p {
    font-family: 'Jura', sans-serif;
}

li {
    list-style: none;
    font-family: 'Jura', sans-serif;
}

li a {
    color: var(--bright-txt);

}

/* разделение страницы на боковой navbar и содержание */

#main-doc {
    display: flex;
}

.container {
  flex: 2;
}

/* Navbar */
#navbar {
position: fixed;
display: flex;
flex-direction: column;
margin-top: 5rem;
flex: 1;
background: #fff;
}

ul {
    display: flex;
    flex-direction: column;
}

ul li {
    padding: 1rem 0.8rem;
    font-weight: 600;
    color: var(--dark-txt-clr);
}

/* Sections */

#start {
    background: linear-gradient(rgba(170, 85, 85, 0.8), rgba(163, 57, 57, 0.8)), url('img/first.jpg') no-repeat center center/cover;
    height: 100vh;
    width: auto;
    flex: 1;
    color: var(--bright-txt-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.5;
}

